<h3> Outreach Activities </h3>

<p style="text-align: justify;"> I am very fortunate to have received an education, and I am committed to passing this gift on to others. I am very invested in teaching and outreach activities, especially in underserved communities. </p>

<details class="teaching-principles-details">
<summary class="teaching-principles-summary-plain">Clubes de Ciencia</summary>
<p class="teaching-principles" style="text-align: justify; padding-left: 20px;"> I volunteer for <a href="https://www.scienceclubsint.org/">Clubes de Ciencia</a>, a non-profit that organizes summer intensive courses for high school and college students in Latin America. I have had the privilege to travel to Mexico (Merida, 2023) and Peru (Lima, 2026), where I designed and taught a course about the capabilities and intrinsic risks of AI. During our time together, students grasped the importance of knowledge-sharing and created online resources (Spanish only: <a href="https://sites.google.com/view/hablando-con-la-maquina-cdcmx/miembros-del-club?authuser=1">Mexico</a>, <a href="https://xivv2.github.io/Club78-web/">Peru</a>) to share their learnings! </p>
</details>

<p style="text-align: justify;"> I am also regularly invited to visit high schools, where I share my personal experience and help motivate the students to pursue a scientific career. </p>

<h3> Science Policy </h3>

<p style="text-align: justify;"> I believe that knowledge belongs to all of us, and it should be used to serve society as a whole. For this reason, I engage in science policy in various ways. I am an <a href="https://sogp.jh.edu/agi-governance-fellowship/">AGI Governance Fellow</a> at the <a href="https://sogp.jh.edu/">Johns Hopkins School of Government and Policy</a>, and a member of the <a href="https://futureoflife.org/our-mission/">Future of Life Institute</a>, a global community promoting responsible AI. I also served as the Engagement and Education Officer for the <a href="https://stanfordscipol.org/">Stanford Science Policy Group</a>. </p>

