        <footer>
            <ul>
                <li><a href="mailto:camoalon@caltech.edu">Email</a></li>
                <li><a href="https://scholar.google.com/citations?user=2snI7NsAAAAJ&hl=en">Google Scholar</a></li>
                <li><a href="https://github.com/camoalon">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/carmen-amo-alonso/">LinkedIn</a></li>
                <li><a href="https://orcid.org/0000-0001-7593-5992">Orcid</a></li>
            </ul>
        </footer>
    </body>
</html>
