<!DOCTYPE html>
<html>
    
    <div class="blurb">
        <span style="font-size:60px;"><strong>Carmen A</strong></span>
        <span style="font-size:40px;"><strong>MO</strong> </span>
        <span style="font-size:60px;"><strong>A</strong></span>
        <span style="font-size:40px;"><strong>LONSO</strong></span>
        </p>
    </div><!-- /.blurb -->

    <head>
        <meta charset="utf-8">
            <title>{{page.title}}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
            </head>

    <body>
