<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body{% if page.permalink == "curriculum/" %} class="cv-page"{% endif %}>

    {%- include header.html -%}

    {%- include sidebar.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="{{ "/assets/js/header-height.js" | relative_url }}"></script>

  </body>

</html>
